body{
    height: 200vh;
    background: #111;
    color: white;
    cursor:crosshair;
}
.cursor{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: no-drop;
    position: fixed;
    top: 0;left: 0;
    
}